---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>Yanick魔法口袋是我的个人博客，含刊、集、旅三个板块。</p>
      <p></p>
      <p>
        <a
          target="_blank"
          href="/yanickrss.xml"
          class="rss-link"
          aria-label="rss feed"
          title="右键选择复制">RSS订阅链接-右键复制链接</a
        >，推荐使用<a href="https://app.follow.is/">Fllow</a>，真心好用。
      </p>
      <br />
      <div class="ml-8">
        <ul class="line-height-12 list-disc space-y-4 text-base font-light">
          <li class="leading-relaxed">
            刊·会每周阶段性收集一些好玩的。<br
            />可能不一定每周，更新惰怠的话请狠狠催更。<br
            />至于什么是好玩的，哈哈哈，说不准，或许会超出我的领域。
          </li>
          <li class="leading-relaxed">集·用来整理打包，常看常新哦。</li>
          <li class="leading-relaxed">旅·用来记录些别的东西。</li>
        </ul>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero p {
    @apply my-2;
  }
</style>
